@CHARSET "UTF-8";
body
{
	color:#214f75;
	background-image:url('images/headera.jpg');
}
#header
{
    border-bottom: 1px solid #7995ac;
    font-family: 'Merienda',cursive;
    font-size: 30px;
    height: 60px;
    margin: 20px auto;
    padding-top: 10px;
    text-align: left;
    width: 1024px;
    color:#1a3f5d;
}


#menu
{
	
	font-size:20px;
	float:right;
	margin:10px;
}

#menu a
{
	text-decoration:none;
	color:#1a3f5d;
	font-size:15px;
	display:inline;
	margin:10px;
	padding:5px;

}

#menu a:hover
{
	font-weight:bold;
	font-size:17px;
}
#search
{
	
	
	float:right;
	margin:5px;
}

#search #searchBar
{
	border-radius:20px;
	height:30px;
	
}



.dashboardButton
{
	float:left;
	margin:1px;
	background-color:#4d7290;
	color:white;
	width:80px;
	margin-left:10px;
	
	
	
}
.contentBox
{
	width:1024px;
	height:auto;
	margin:10px auto;
}

.content
{
	width:80%;
	height:auto;
	margin:50px auto;
	margin-top:50px;
}

.button
{
	height:40px;
	width:100px;
	background-color:#214F75;/*#0044cc;/*#5F92B3;*/
	color:white;
	border-radius:5px 5px 5px 5px;
	

}

.content_right
{
	width:50%;
    height:auto;
	float:right;
	padding:20px;
	margin:10px;
	

}

.content_left
{
	width:25%;
	height:auto;
	float:left;
	padding:20px;
	margin:10px;
}
#homeMessage
{
	  font-family: 'Merienda', cursive;	
      font-size:30px;
      text-align:center;
      margin-top:100px;
}

#homeQuote
{
	 font-family: 'Merienda', cursive;	
      font-size:15px;
      text-align:center;
    
	
}
#signUpBox
{
	width:75%;
	border:1px dotted #EEE;
	box-shadow:1px 1px 3px #FFF;
	padding:20px;
	margin:10px;
	height:auto;
		
}

#loginBox
{
	width:75%;
	border:1px dotted #EEE;
	box-shadow:1px 1px 3px #FFF;
	padding:20px;
	margin:10px;
	height:auto;
		
}
#signupMsg
{
	font-size:20px;
    color:#214F75;
    border-bottom:1px solid #EEE;
    margin:5px;
}

.bottomBanner
{
	
}